.row
  .col.l12
    %h3 Checkout
    %h5 Your shipping info

    .row
      .col.l8
        = form_for @order do |f|
          = f.fields_for :order_detail do |od|
            .input-field
              = od.label :name
              = od.text_field :name

            .input-field
              = od.label :email
              = od.email_field :email

            .input-field
              = od.label :address
              = od.text_area :address, class: "materialize-textarea"
          
          %p 
            Payment Method: 
            .red-text.text-lighten-3
              * we only support Cash on Delivery for now
          %p
            = f.radio_button :payment_method, :cash_on_delivery, checked: true, class: "with-gap"
            = f.label :payment_method, "Cash on Delivery"

          .top30
            = f.submit "Place Your Order", class: "btn btn-large"

      .col.l4 
        .card
          .card-content
            %strong ORDER SUMMARY
  
            %ul
              - current_cart.cart_items.each do |cart_item|
                - item = cart_item.item
                %li
                  .left
                    %span.bold #{item.name} 
                    %span x #{cart_item.quantity}
                  .right 
                    %span #{number_to_currency(cart_item.subtotal, unit: "P")}

                  .clear

            %div
              .left
                %span Subtotal
              .right
                #{number_to_currency(current_cart.total, unit: "P")}
              
              .clear

            %div 
              .left 
                %span Shipping 
              .right 
                P0.00

              .clear

            %hr

            %div 
              .left 
                %span.bold TOTAL 
              .right 
                %span.bold
                  #{number_to_currency(current_cart.total, unit: "P")}

              .clear
              
