.row
  .col.l12
    %h3 Your Cart

    - if current_cart.empty?
      %span Your cart is empty
    - else
      .row
        .col.l8
          %table 
            %thead 
              %tr 
                %th Description
                %th Quantity
                %th Total
                %th

            %tbody
              - current_cart.cart_items.each do |cart_item|
                - item = cart_item.item
                %tr
                  %td
                    = image_tag(item.photo.url(:thumb))
                    = item.name
                  %td
                    = cart_item.quantity
                  %td
                    = number_to_currency(cart_item.subtotal, unit: "P")
                  %td 
                    = link_to cart_item_path(cart_item), method: :delete do
                      %i.small.material-icons.red-text delete

        .col.l4
          .card
            .card-content
              .row
                .col.l12
                  %p
                    You have #{pluralize(current_cart.total_unique_items, 'item')} in your cart.

              .row
                .col.l12
                  %p
                    Subtotal: 
                    %span.bold 
                      #{number_to_currency(current_cart.total, unit: "P")}

              %div
                = link_to "Checkout", "#", class: "blue-text text-lighten-2"

              %div
                = link_to "continue shopping", root_path, class: "blue-text text-lighten-2"
