!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title damits.ph
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav
      .container
        .nav-wrapper
          = link_to "damits.ph", root_path, class: "brand-logo"
          %ul.right.hide-on-med-and-down#nav-mobile
            %li
              = link_to "cart", "#"

    .container
      = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
